.vignette{
	width: 80px;
	height: 80px;
}

.perso-margin{
	margin-top: 10px;
	margin-bottom: 10px;
}

td{
	vertical-align: bottom;
}

#page{
	width: 80%;
	margin: auto;
}

nav{
	padding: 10px;
}

.invisible{
	visibility: hidden;
}

.visible{
	visibility: visible;
	color: red;
}

.erreurs{
	color:red;
}